
body {
    font-family: sans-serif;
}

.peTitle {
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    padding-top: 30pt;
    font-size: 36pt;
    color: #333;
    text-align: center;
    text-shadow: 3px 3px 5px #555;
  }

.peText {
  margin-top: 10pt
}
  
