
body {
    font-family: sans-serif;
    background-color: #fffff8;
}

.peTitle {
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .peTitle h1 {
    padding-top: 200pt;
    font-size: 36pt;
    color: #333;
    text-align: center;
    text-shadow: 3px 3px 5px #555;
  }

.peEndTitle {
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.peText {
  padding-top: 10pt;
  width: 60%;
  margin: auto;
}
  